
.header{
    width: 100%;
    display: flex;
    padding: 3px 0;
    background-color: rgb(250, 155, 187);
}

.header img{
    margin: 0 10px;
}

.header nav{
    text-align: right;
    width: 100%;
    font-size: 0; /*為了讓超連結之間不要有間距*/
    margin: 10px 10px 0px 0px ;
}

.header nav a{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 10px;
    color: aliceblue;
    transition: all .5s .3s;
}

.header nav a:hover{
    background-color: aliceblue;
    color: palevioletred;
    
}

.banner img{
    width: 100%;
}

.path{
    display: flex;
}

.path li{
    padding: 6px 8px;
    position: relative;
}

.path li a{
    /* color: #888; */
    text-decoration: none;
    font-size: 15px;
}

.path li + li::before{
    content: " / ";
    color: #888;
    position: absolute;
    left: 0;
}

.wrap{
    margin: 2% auto 0 auto;
    width: 1200px;
    display: flex;
}

.about{
    display: flex;
}

.about .pic {
    width: 50%;
}

.about .pic img {
    width: 100%;
}

.about .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5em;
    font-size: 18px;
    margin: 0 10px;
} 

.about .text > p{
    margin:0 1%;
}


h2{
    text-align: center;
    font-size: 40px;
    margin-bottom:20px;
    animation: 'colorful' 4s ease-in-out infinite;
    -webkit-animation: 'colorful' 4s ease-in-out infinite;
}

@keyframes colorful{
    0%{color: red;}
    25%{color: rgb(255, 119, 119);}
    50%{color: rgb(255, 255, 255);}
    75%{color: rgb(255, 119, 119);}
    100%{color: red;}
}

.news{
    width: 100%;
    display: flex;
}

.news .text{
    width: 50%;
    border: 2px dashed palevioletred;
    padding: 10px;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap .pic{
    width: 50%;
    margin: 0 5px;
}

.news .pic img{
    width: 100%;
}

.news nav{
    background-color: rgba(239, 162, 188, 0.539);
    padding: 10px;
}

.news li >a {
    text-decoration: none;
    color: aliceblue;
}

.news li >a:hover {
    color: palevioletred
}

.news li{
    border-bottom:2px dotted palevioletred;
    line-height: 1.5em;
    font-size: 18px;
    padding:10px 0;
    color: aliceblue;
    width: 100%;
    list-style: none;
}

.news li::before{
    content:"#" ;
}

.product .wrap{
    width: 100%;
    margin: 1% auto;
}

.wrap> h2{
    width: 100%;
    text-align: center;
    background-color: plum; 
    animation: none;
    padding: 4px;
}

.product .wrap{
    display: flex;
}

.item{
    width: 25%;
    margin: 2px;
}

.item > img{
    width: 100%;
}

.item > h3{
    font-size: 18px;
    padding:4px 0;
    text-align: center;
}
.footer{
    text-align: center;
    color: #888;
    padding: 10px 0;
    background-color: beige;
}