
.header{
    width: 100%;
    display: flex;
    padding: 3px 0;
    background-color: #c30d23;
}

.header img{
    /* margin: 0 10px; */
    width: 80px;
    height: 80px;
}

.header nav{
    text-align: right;
    width: 100%;
    font-size: 0; /*為了讓超連結之間不要有間距*/
    margin: 10px 10px 0px 0px ;
}

.header nav a{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 10px;
    color: aliceblue;
    transition: all .3s .1s;
}

.header nav a:hover{
    background-color: rgb(0, 0, 0);
    color: #c30d23;   
}

.banner img{
    width: 100%;
}

.path{
    display: flex;
}

.path li{
    padding: 6px 8px;
    position: relative;
}

.path li a{
    text-decoration: none;
    font-size: 15px;
    color: #313332;
}

.path li + li::before{
    content: " / ";
    color: #888;
    position: absolute;
    left: 0;
}

.wrap{
    margin: 2% auto 0 auto;
    width: 1200px;
    display: flex;
}

.about{
    display: flex;
}

.about .pic {
    width: 50%;
}

.about .pic img{
    width: 100%;
}

.about .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5em;
    font-size: 18px;
    margin: 0 10px;
} 

.about .text > p{
    margin:0 1%;
}

h2{
    text-align: center;
    font-size: 40px;
    margin-bottom:20px;
    animation: 'colorful' 2s alternate infinite;
    -webkit-animation: 'colorful' 2s alternate infinite;
}

@keyframes colorful{
    0%{color: #c30d23;}
    50%{color: #cf3d4e;}
    100%{color: #e18691;}
    /* 75%{color: rgb(255, 119, 119);}
    100%{color: red;} */
}

.news{
    width: 100%;
    display: flex;
}

.news .text{
    width: 50%;
    border: 2px dashed #e18691;
    padding: 10px;
    margin: 0 5px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
}

.wrap .pic{
    width: 50%;
    margin: 0 5px;
}

.news .pic img{
    width: 100%;
}

.news nav{
    background-color: rgba(195, 13, 35, 0.3);
    padding: 10px;
}

.news li >a {
    text-decoration: none;
    color: aliceblue;
}

.news li >a:hover {
    color: #e18691
}

.news li{
    border-bottom:2px dotted #e18691;
    line-height: 1.5em;
    font-size: 18px;
    padding:10px 0;
    color: aliceblue;
    width: 100%;
    list-style: none;
}

.news li::before{
    content:"#" ;
}

.product .wrap{
    width: 100%;
    margin: 1% auto;
}

.wrap> h2{
    width: 100%;
    text-align: center;
    background-color: #cf3d4e; 
    animation: none;
    padding: 5px 0;
    color: aliceblue;
}

.product .wrap{
    display: flex;
}

.item{
    width: 25%;
    margin: 2px;
}

.item > img{
    width: 100%;
}

.item > h3{
    font-size: 18px;
    padding:4px 0;
    text-align: center;
}
.footer{
    text-align: center;
    color: #313332;
    padding: 10px 0;
    background-color: #e18691;
}